body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* Логотип */

header{
    background: #222222;
    padding: 8px 0;
}

.top_wrap{
    border-top: 1px solid #EFB7B7;
    border-bottom: 1px solid #EFB7B7;
}

.top_wrap > div{
    display: flex;
    align-items: center;
    height: 70px;
    width: 80%;
    margin: 0 auto;
}

.top_wrap .description{
    flex-basis: 80%;
    color: #EEEEEE;
    font-size: 13px;
    padding-left: 3%;
}

/*Форма поиска*/

form input{
    border-radius: 4px;
    border: 1px solid #dedede;
    outline: 0;
    padding: 5px;
}

form button{
    border: none;
    background: none;
    color: #EFB7B7;
    outline: 0;
    cursor: pointer;
}

.description p:nth-child(1) {
    color: #EEEEEE;
    text-transform: uppercase;
    font-size: 26px;
    display: inline-block;
    width: 50%;;
}

.description p:nth-child(2) {
    display: inline-block;
    font-size: 18px;
    color: #EEEEEE;
}

/*контейнер*/

.container {
    display: flex;
    flex-basis: 70%;
    width: 1200px;
    max-width: 1200px;
    background-color: rgba(239, 183, 183, 0.3);
    margin: 0 auto;
}

.container .wrap_article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .wrap_article img {
    display: block;
    width: 55%;
    height: 55%;
    margin: 0 auto;
    padding: 15px;
    transition: 1.5s;
}

.container .wrap_article img:hover {
    transform: scale(1.1);
}

article {
    flex-basis: 36%;
    padding: 7%;
    position: relative;
}

.img_container {
    background-color: white;
    width: 100%;
    margin-top: -16%;
    z-index: 0;
}

.link {
    background-color: rgba(238, 238, 238, .4);
    padding: 8%;
    z-index: 5;
    margin-top: -22%;
    text-align: center;
    display: none;
}

.img_container:hover .link{
    display: block;
    transition: 1.5s;
}

.img_container a{
    opacity: 80%;
    text-decoration: none;
    color: #595260;
    font-size: 26px;
    text-align: center;
}

article > p {
    display: block;
    z-index: 5;
    width: 18%;
    font-size: 22px;
    padding: 10px;
    color: #8E2657;
    font-weight: bold;
}

.article_bottom p {
    text-align: center;
    color: #595260;
}

.article_bottom p:nth-child(1) {
    font-size: 22px;
}

.article_bottom span {
    padding-right: 5px;
}

